* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    margin: 0;
}

/**********************************************************/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


header {
    background: #1F2937;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: large;
    font-weight: 600;
}

/**********************************************************/

.first {
    background: #1F2937;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.first div {
    width: 400px;
}

h1 {
    font-size: 40px;
}

.first > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.first > div a {
    background: #3882F6;
    padding: 5px 16px;
    border-radius: 5px;
}

.placeholder {
    width: 350px;
    height: 250px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******************************************************************/
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 400px;
}
.box {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.row {
    display: flex;
    gap: 100px;
}

.row div p {
    width: 150px;
    text-align: center;
}

/************************************************************/

.third {
    background: #E5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third p {
    font-size: 36px;
    font-weight: 100;
    font-family: Roboto;
    font-style: italic;
    width: 700px;
}

.third span {
    font-weight: 600;
    margin-right: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

/********************************************************************/

.fourth {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth > div {
    height: 200px;
    width: 600px;
    background: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;

}

.fourth > div > div {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
    margin-left: 50px;
}

.fourth > div > div > h4 {
    margin: 0;
    padding: 0;
}

.fourth > div > div > p {
    width: 300px;
}

.fourth > div > a {
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 500;
}

footer {
    padding: 20px 0;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}